.content  {color: #3b5998;}
.bnt1{color: white;}
.form{padding-top: 30px; margin-top: 30px;background-color:white; padding-bottom: 20px;padding-left: 50px;border-radius: 10px;}
.label1{margin-right: 20px;}
.tabledk tr td{padding-bottom: 10px;}
.col-xs-col-lg-6 img{width: 95%; padding-left:40px ;}
.container h4{display: inline}
.tabledk{width: 100%;padding: 30px;}
.tabledk_tr1{margin-bottom:50px}
.btn_submit{width: 100%;}
.form p a{text-decoration: none;}
.ktra{color: red;}